@import 'spectre.css';
@import 'spectre-exp.css';
@import 'spectre-icons.css';

html {
  font-size: 1.0em;
}

body {
    min-width: 600px;
}

pre.code {
  font-size: 0.8rem;
}

pre.code::before {
  color: #303742;
}
